<div class="container mt-4 ml-4 mr-4">
  <h3 class="ml-2 mb-3" style="font-weight: 300;">Your app specific keys</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">App secret</th>
        <th scope="col">App token</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="settings">
        <th scope="row">1</th>
        <td>{{settings.data.secret}}</td>
        <td>{{settings.data.app_token[0].app_token}}</td>
      </tr>
    </tbody>
  </table>
</div>