.total-users-title {
    font-family: 'Work Sans';
    font-weight: 500;
}

.total-users-value {
    font-family: 'Work Sans';
    font-weight: 200;
    margin-left: 48px;
    margin-right: 52px;
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 52px;
}

.mdl-card {
    min-height: 120px;
    width: 250px;
}

.material-icons.md-light {
    color: white; }