<p class="ml-2">
  <a class="btn btn-primary btn-lg" (click)="collapse=!collapse; scroll(addversionbutton);" data-toggle="collapse" href="#addVersionContainer"
    role="button" aria-expanded="false" aria-controls="addVersionContainer">
    Add New Version
    <i class="fa" [ngClass]="{'fa-angle-up': !collapse, 'fa-angle-down': collapse}"></i>
  </a>
</p>
<div class="container jumbotron collapse ml-2" id="addVersionContainer">
  <form class="form needs-validation" (ngSubmit)="f.form.valid && addVersion();" #f="ngForm" novalidate>
    <div class="form-row">
      <div class="form-group mr-2 col-md-3">
        <label for="inputVersionName">Version Name</label>
        <input type="text" id="inputVersionName" class="form-control" placeholder="Version Name" name="versionName"
          [(ngModel)]="model.versionName" #versionName="ngModel" required autofocus>
        <div *ngIf="versionName.invalid && (versionName.dirty || versionName.touched)" class="invalid-feedback d-block">
          <span *ngIf="versionName.errors.required">
            Version Name is a required field!
          </span>
        </div>
      </div>
      <div class="form-group mr-2 col-md-3">
        <label for="inputVersionCode">Version Code</label>
        <input type="number" min="1" id="inputVersionCode" class="form-control" placeholder="Version Code" name="versionCode"
          [(ngModel)]="model.versionCode" #versionCode="ngModel" pattern="^[0-9]*$" required>
        <div *ngIf="versionCode.invalid && (versionCode.dirty || versionCode.touched)" class="invalid-feedback d-block">
          <span *ngIf="versionCode.errors.required">
            Version Code is a required field!
          </span>
        </div>
      </div>
    </div>
    <div class="form-group mt-2 mb-3">
      <label for="inputReleaseNotes">Release Notes</label>
      <textarea pattern=".{100,}" rows="10" type="text" id="inputReleaseNotes" class="form-control" placeholder="Please enter release notes for this app version, this should be the same as the release notes you had entered while uploading this version to App Store."
        name="releaseNotes" [(ngModel)]="model.releaseNotes" #releaseNotes="ngModel" required autofocus></textarea>
      <div *ngIf="releaseNotes.invalid && (releaseNotes.dirty || releaseNotes.touched)" class="invalid-feedback d-block">
        <div *ngIf="releaseNotes.errors.required">
          Release Notes is a required field!
        </div>
        <div *ngIf="releaseNotes.errors && releaseNotes.errors.pattern">
          Minimum 100 characters!
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" id="inputIsEnabled" class="form-check-input" placeholder="Is Enabled" name="isEnabled"
          [(ngModel)]="model.isEnabled" #isProduction="ngModel">
        <label class="form-check-label" for="inputIsEnabled">Is Enabled</label>
      </div>
    </div>
    <button #addversionbutton [disabled]="loading || !form.valid" class="btn btn-primary mb-2" type="submit">Add
      Version</button>
  </form>
</div>