<div class="container mt-4 ml-4 mr-4">
  <h3 class="ml-2 mb-3" style="font-weight: 300;">Your company profile</h3>
  <table class="table table-bordered">
    <tbody *ngIf="companyProfile">
      <tr>
        <td>Company name</td>
        <td>{{companyProfile.company_name}}</td>
      </tr>
      <tr>
        <td>Company url</td>
        <td class="btn-link">{{companyProfile.company_url}}</td>
      </tr>
      <tr>
        <td>Company description</td>
        <td>{{companyProfile.description}}</td>
      </tr>
      <tr>
        <td>Company address</td>
        <td>{{companyProfile.address}}</td>
      </tr>
      <tr>
        <td>Company city</td>
        <td>{{companyProfile.city}}</td>
      </tr>
      <tr>
        <td>Company country</td>
        <td>{{companyProfile.country}}</td>
      </tr>
      <tr>
        <td>Company pincode</td>
        <td>{{companyProfile.pincode}}</td>
      </tr>
    </tbody>
  </table>
</div>