<div class="container-fluid mt-5" style="min-height: 100%">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="jumbotron text-center">
        <h1 class="display-3">404 Not Found</h1>
        <h2>Oops, the requested page is not found!</h2>
        <hr class="my-4">
        <p>
          We are sorry, the page that you have requested does not exist.
        </p>
        <div class="error-actions mt-3">
          <a href="/" class="btn btn-primary btn-lg"><span class="fa fa-home"></span>
            Take Me Home </a>
        </div>
      </div>
    </div>
  </div>
</div>