<div class="container-fluid mt-4 ml-4 mr-4">
  <h3 class="ml-2" style="font-weight: 300;">User Metrics</h3>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 mb-3">
      <app-totalusers></app-totalusers>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 mb-3">
      <app-dailyactive></app-dailyactive>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 mb-3">
      <app-weeklyactive></app-weeklyactive>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3 mb-3">
      <app-monthlyactive></app-monthlyactive>
    </div>
  </div>
</div>