<header class="mdl-layout__header" style="background: white;">
  <div class="mdl-layout__header-row" style="padding-left: 260px;">
    <span class="mdl-layout-title" style="font-family: Work Sans; font-size: 22px; font-weight: 400; color: black">{{currentRoute}}</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7ab_d5Q1h7HyNscz5Cky-wc3-2xEVz1QH3WF5i4XK7tPImiycCQ" class="avatar">
  </div>
</header>