/* You can add global styles to this file, and also import other style files */

body {
    background: #FFFFFF;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: black;
}

.mdl-layout__drawer {
    background: #424242;
    width: 240px;
    color: white;
    border: 0px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    background: #424242;
    color: white;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    padding: 16px;
    display: flex;
    align-items: center;
}

.mdl-navigation__link:hover:not(.active) {
    background: #616161 !important;
    color: #E0E0E0 !important;
}

.active {
    background: #FAFAFA !important;
    color: black !important;
}

.profile-img {
    display: block;
    width: 40px;
    margin-top: 20%;
}

  .material-icons {
    margin-right: 16px;
  }